@model int
<div class="text-center">
    <h1 class="text-info pt-4">¡Felicidades! Estás un paso más cerca de explorar los mundos literarios en nuestra tienda virtual de libros.</h1>
    <p>"Felicidades por su compra. Le informamos que su solicitud estará lista en tan solo 30 minutos dentro de nuestro horario de trabajo regular."</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="/images/Bookshop.png" width="80%" />
</div>
